* {
    margin: 0;
    font-family: "Lato", sans-serif;
}

body {
    background-color: rgb(25, 91, 223);
}

.title {
    width: 500px;
    position: relative;
    left: 44%;
    color: aliceblue;
    margin-bottom: 30px;
    font-size: 35px;
}

.contents {
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 242, 245);
}

.secondTitle {
    position: relative;
    left: 44%;
    top: 10px;
    font-size: 25px;
}

#divName {
    position: relative;
    left: 43%;
    top: 23px;
    font-size: 20px;
    font-weight: bold;
}

#divAmount {
    position: relative;
    left: 43%;
    top: 40px;
    font-size: 20px;
    font-weight: bold;
}

#name {
    border-radius: 23px;
    width: 150px;
    font-size: 20px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#amount {
    border-radius: 23px;
    width: 110px;
    font-size: 20px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    position: relative;
    left: 48%;
    top: 56px;
    margin-bottom: 10px;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    color:rgb(19, 19, 19);
    background-color: rgb(28, 152, 214);
    box-shadow: inset 0 0 0 #fff;
    outline: none;
    transition: ease-out 0.5s;
}

button:hover {
    box-shadow: inset 300px 0 0 rgb(72, 245, 9);
}

.content {
    padding: 3%;
 
}

table {
    width: 100%;
    
}

thead {
    background-color: rgb(59, 210, 195);
    line-height: 30px;
}

a {
    background-color: rgb(228, 107, 107);
    cursor: pointer;
    border-radius: 5px;
}
